<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/_userLayout.css}">
</head>
<body>
<header class="header">
    <div class="navbar">
        <div class="container">
            <div class="logo">
                <a th:href="@{/}">
                    <img th:src="@{/image/logo-nettruyen.png}" alt="logo-nettruyen">
                </a>
            </div>
            <div class="search">
                <input type="text" class="" placeholder="Tìm truyện...">
                <div class="search-btn">
                    <i class="fa fas fa-search fa-lg"></i>
                </div>
            </div>
            <div class="notification">
                <i class="fa far fa-comment fa-2x"></i>
            </div>
            <ul class="nav-account">
                <li class="login-link">
                    <a href="#">Đăng nhập</a>
                </li>
                <li class="register-link">
                    <a href="#">Đăng ký</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<!-- nav-bar -->
<nav class="main-nav">
    <div class="inner">
        <div class="container">
            <div class="ModuleContent">
                <ul class="main-menu">
                    <li class="child-main-menu active">
                        <a href="#" style="color: black">
                            <i class="fa fas fa-home fa-lg"></i>
                        </a>
                    </li>
                    <li class="child-main-menu">
                        <a href="#" style="color: black">Hot</a>
                    </li>
                    <li class="child-main-menu">
                        <a href="#" style="color: black">
                            Theo dõi
                        </a>
                    </li>
                    <li class="child-main-menu">
                        <a href="#" style="color: black">Lịch sử</a>
                    </li>
                    <li class="child-main-menu dropdown">
                        <a href="#" style="color: black">
                            Thể loại
                            <i class="fa fas fa-caret-down"></i>
                        </a>
                        <ul class="main-menu-dropdown">
                            <li>
                                <div class="div-main-menu-dropdown">
                                    <div>
                                        <ul>
                                            <li style="font-weight: bold;color: red">Tất cả</li>
                                            <li>Action</li>
                                            <li>Adult</li>
                                            <li>Adventure</li>
                                            <li>Anime</li>
                                        </ul>
                                    </div>
                                    <div>
                                        <ul>
                                            <li>Echi</li>
                                            <li>Fantasy</li>
                                            <li>Gender Bender</li>
                                            <li>Harem</li>
                                            <li>Historical</li>
                                        </ul>
                                    </div>
                                    <div>
                                        <ul>
                                            <li>Mecha</li>
                                            <li>Mystery</li>
                                            <li style="font-weight: bold;color: red">Ngôn Tình</li>
                                            <li>One shot</li>
                                            <li>Psychological</li>
                                        </ul>
                                    </div>
                                    <div>
                                        <ul>
                                            <li>Slice of Life</li>
                                            <li>Smut</li>
                                            <li>Soft Yaoi</li>
                                            <li>Soft Yuri</li>
                                            <li>Sports</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="child-main-menu dropdown">
                        <a href="#" style="color: black">
                            Xếp hạng
                            <i class="fa fas fa-sort"></i>
                        </a>
                        <ul class="main-menu-dropdown">

                        </ul>
                    </li>
                    <li class="child-main-menu">
                        <a href="#" style="color: black">Tìm truyện</a>
                    </li>
                    <li class="child-main-menu">
                        <a href="#" style="color: black">Con gái</a>
                    </li>
                    <li class="child-main-menu">
                        <a href="#" style="color: black">Con trai</a>
                    </li>
                    <li class="child-main-menu">
                        <a href="#" style="color: black">Group</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- end of nav-bar -->
<div layout:fragment="content">

</div>
<!-- div scroll to top -->
<a id="back-to-top" onclick="backToTop()">
    <i class="fa fas fa-angle-up"></i>
</a>
<!-- end of div scroll to top -->
<script type="text/javascript" th:src="@{/js/_userLayout.js}"></script>
<th:block layout:fragment="script"></th:block>
</body>
</html>