<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/_layout}">
<head>
    <meta charset="UTF-8">
    <title>Đọc truyện tranh online - Truyện gì cũng có - NetTruyenFake</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div layout:fragment="content">
    <!-- body -->
    <div class="none-name"></div>
    <main>
        <div class="container">
            <div id="ctl00_divAlt1" class="altcontent1 cmszone">
                <div class="top-comics">
                    <h2 class="page-title">Truyện đề cử <i class="fa fas fa-angle-right"></i></h2>
                    <div class="items-slide">
                        <div class="owl-wrapper-outer">
                            <div class="owl-wrapper">
                                <div class="owl-item">
                                    <a href="#">
                                        <img th:src="@{/image/img1.png}" alt="nhu cc">
                                    </a>
                                    <div class="slide-caption">
                                        <h3>
                                            <a href="#">Chung Cực Binh Vương Tại Đô Thị</a>
                                        </h3>
                                        <a href="#">Chap 153</a>
                                        <span class="time">
                                        <i class="fa fas fa-history"></i></i> 27/10/20
                                    </span>
                                    </div>
                                </div>
                                <div class="owl-item">
                                    <a href="#">
                                        <img th:src="@{/image/img2.png}" alt="nhu cc">
                                    </a>
                                    <div class="slide-caption">
                                        <h3>
                                            <a href="#">Toàn Chức Pháp Sư</a>
                                        </h3>
                                        <a href="#">Chap 153</a>
                                        <span class="time">
                                        <i class="fa fas fa-history"></i></i> 27/10/20
                                    </span>
                                    </div>
                                </div>
                                <div class="owl-item">
                                    <a href="#">
                                        <img th:src="@{/image/img3.png}" alt="nhu cc">
                                    </a>
                                    <div class="slide-caption">
                                        <h3>
                                            <a href="#">Ngạo Thị Thiên Địa</a>
                                        </h3>
                                        <a href="#">Chap 153</a>
                                        <span class="time">
                                        <i class="fa fas fa-history"></i></i> 27/10/20
                                    </span>
                                    </div>
                                </div>
                                <div class="owl-item">
                                    <a href="#">
                                        <img th:src="@{/image/img.png}" alt="nhu cc">
                                    </a>
                                    <div class="slide-caption">
                                        <h3>
                                            <a href="#">Mairimashita! Iruma-kun</a>
                                        </h3>
                                        <a href="#">Chap 153</a>
                                        <span class="time">
                                        <i class="fa fas fa-history"></i></i> 27/10/20
                                    </span>
                                    </div>
                                </div>
                                <div class="owl-item">
                                    <a href="#">
                                        <img th:src="@{/image/img1.png}" alt="nhu cc">
                                    </a>
                                    <div class="slide-caption">
                                        <h3>
                                            <a href="#">Chung Cực Binh Vương Tại Đô Thị</a>
                                        </h3>
                                        <a href="#">Chap 153</a>
                                        <span class="time">
                                        <i class="fa fas fa-history"></i></i> 27/10/20
                                    </span>
                                    </div>
                                </div>
                                <div class="owl-item">
                                    <a href="#">
                                        <img th:src="@{/image/img1.png}" alt="nhu cc">
                                    </a>
                                    <div class="slide-caption">
                                        <h3>
                                            <a href="#">Chung Cực Binh Vương Tại Đô Thị</a>
                                        </h3>
                                        <a href="#">Chap 153</a>
                                        <span class="time">
                                        <i class="fa fas fa-history"></i></i> 27/10/20
                                    </span>
                                    </div>
                                </div>
                                <div class="owl-item">
                                    <a href="#">
                                        <img th:src="@{/image/img1.png}" alt="nhu cc">
                                    </a>
                                    <div class="slide-caption">
                                        <h3>
                                            <a href="#">Chung Cực Binh Vương Tại Đô Thị</a>
                                        </h3>
                                        <a href="#">Chap 153</a>
                                        <span class="time">
                                        <i class="fa fas fa-history"></i></i> 27/10/20
                                    </span>
                                    </div>
                                </div>
                                <div class="owl-item">
                                    <a href="#">
                                        <img th:src="@{/image/img3.png}" alt="nhu cc">
                                    </a>
                                    <div class="slide-caption">
                                        <h3>
                                            <a href="#">Ngạo Thị Thiên Địa</a>
                                        </h3>
                                        <a href="#">Chap 153</a>
                                        <span class="time">
                                        <i class="fa fas fa-history"></i></i> 27/10/20
                                    </span>
                                    </div>
                                </div>
                                <div class="owl-item">
                                    <a href="#">
                                        <img th:src="@{/image/img.png}" alt="nhu cc">
                                    </a>
                                    <div class="slide-caption">
                                        <h3>
                                            <a href="#">Mairimashita! Iruma-kun</a>
                                        </h3>
                                        <a href="#">Chap 153</a>
                                        <span class="time">
                                        <i class="fa fas fa-history"></i></i> 27/10/20
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <i class="fa fas fa-angle-left left fa-3x" onclick="TopComicsScrollLeft()"></i>
                        <i class="fa fas fa-angle-right right fa-3x" onclick="TopComicsScrollRight()"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="divCenter">
                    <div class="divCenter-main-container">
                        <div class="header-divCenter-main-container">
                            <h2>Truyện mới cập nhật <i class="fa fas fa-angle-right"></i></h2>
                        </div>
                        <div class="body-divCenter-main-container">
                            <div class="item">
                                <figure>
                                    <div class="image">
                                        <a href="#">
                                            <img th:src="@{/image/main-img/img.png}">
                                        </a>
                                        <div class="view">
                                        <span>
                                            <i class="fa fas fa-eye"></i> 143.979
                                            <i class="fa fas fa-comment"></i> 103
                                            <i class="fa fas fa-heart"></i> 3.555
                                        </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>Maou na Ano Ko to Murabito A</h3>
                                        <ul>
                                            <li>
                                                <a href="#" style="color: black">Chapter 3</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                            <li>
                                                <a href="#" style="color: black">Chapter 2</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                            <li>
                                                <a href="#" style="color: black">Chapter 1</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure>
                                    <div class="image">
                                        <a href="#">
                                            <img th:src="@{/image/main-img/img.png}">
                                        </a>
                                        <div class="view">
                                        <span>
                                            <i class="fa fas fa-eye"></i> 143.979
                                            <i class="fa fas fa-comment"></i> 103
                                            <i class="fa fas fa-heart"></i> 3.555
                                        </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>Maou na Ano Ko to Murabito A</h3>
                                        <ul>
                                            <li>
                                                <a href="#" style="color: black">Chapter 3</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                            <li>
                                                <a href="#" style="color: black">Chapter 2</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                            <li>
                                                <a href="#" style="color: black">Chapter 1</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure>
                                    <div class="image">
                                        <a href="#">
                                            <img th:src="@{/image/main-img/img.png}">
                                        </a>
                                        <div class="view">
                                        <span>
                                            <i class="fa fas fa-eye"></i> 143.979
                                            <i class="fa fas fa-comment"></i> 103
                                            <i class="fa fas fa-heart"></i> 3.555
                                        </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>Maou na Ano Ko to Murabito A</h3>
                                        <ul>
                                            <li>
                                                <a href="#" style="color: black">Chapter 3</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                            <li>
                                                <a href="#" style="color: black">Chapter 2</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                            <li>
                                                <a href="#" style="color: black">Chapter 1</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure>
                                    <div class="image">
                                        <a href="#">
                                            <img th:src="@{/image/main-img/img.png}">
                                        </a>
                                        <div class="view">
                                        <span>
                                            <i class="fa fas fa-eye"></i> 143.979
                                            <i class="fa fas fa-comment"></i> 103
                                            <i class="fa fas fa-heart"></i> 3.555
                                        </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>Maou na Ano Ko to Murabito A</h3>
                                        <ul>
                                            <li>
                                                <a href="#" style="color: black">Chapter 3</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                            <li>
                                                <a href="#" style="color: black">Chapter 2</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                            <li>
                                                <a href="#" style="color: black">Chapter 1</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure>
                                    <div class="image">
                                        <a href="#">
                                            <img th:src="@{/image/main-img/img.png}">
                                        </a>
                                        <div class="view">
                                        <span>
                                            <i class="fa fas fa-eye"></i> 143.979
                                            <i class="fa fas fa-comment"></i> 103
                                            <i class="fa fas fa-heart"></i> 3.555
                                        </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>Maou na Ano Ko to Murabito A</h3>
                                        <ul>
                                            <li>
                                                <a href="#" style="color: black">Chapter 3</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                            <li>
                                                <a href="#" style="color: black">Chapter 2</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                            <li>
                                                <a href="#" style="color: black">Chapter 1</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure>
                                    <div class="image">
                                        <a href="#">
                                            <img th:src="@{/image/main-img/img.png}">
                                        </a>
                                        <div class="view">
                                        <span>
                                            <i class="fa fas fa-eye"></i> 143.979
                                            <i class="fa fas fa-comment"></i> 103
                                            <i class="fa fas fa-heart"></i> 3.555
                                        </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>Maou na Ano Ko to Murabito A</h3>
                                        <ul>
                                            <li>
                                                <a href="#" style="color: black">Chapter 3</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                            <li>
                                                <a href="#" style="color: black">Chapter 2</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                            <li>
                                                <a href="#" style="color: black">Chapter 1</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure>
                                    <div class="image">
                                        <a href="#">
                                            <img th:src="@{/image/main-img/img.png}">
                                        </a>
                                        <div class="view">
                                        <span>
                                            <i class="fa fas fa-eye"></i> 143.979
                                            <i class="fa fas fa-comment"></i> 103
                                            <i class="fa fas fa-heart"></i> 3.555
                                        </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>Maou na Ano Ko to Murabito A</h3>
                                        <ul>
                                            <li>
                                                <a href="#" style="color: black">Chapter 3</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                            <li>
                                                <a href="#" style="color: black">Chapter 2</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                            <li>
                                                <a href="#" style="color: black">Chapter 1</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure>
                                    <div class="image">
                                        <a href="#">
                                            <img th:src="@{/image/main-img/img.png}">
                                        </a>
                                        <div class="view">
                                        <span>
                                            <i class="fa fas fa-eye"></i> 143.979
                                            <i class="fa fas fa-comment"></i> 103
                                            <i class="fa fas fa-heart"></i> 3.555
                                        </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>Maou na Ano Ko to Murabito A</h3>
                                        <ul>
                                            <li>
                                                <a href="#" style="color: black">Chapter 3</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                            <li>
                                                <a href="#" style="color: black">Chapter 2</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                            <li>
                                                <a href="#" style="color: black">Chapter 1</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure>
                                    <div class="image">
                                        <a href="#">
                                            <img th:src="@{/image/main-img/img.png}">
                                        </a>
                                        <div class="view">
                                        <span>
                                            <i class="fa fas fa-eye"></i> 143.979
                                            <i class="fa fas fa-comment"></i> 103
                                            <i class="fa fas fa-heart"></i> 3.555
                                        </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>Maou na Ano Ko to Murabito A</h3>
                                        <ul>
                                            <li>
                                                <a href="#" style="color: black">Chapter 3</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                            <li>
                                                <a href="#" style="color: black">Chapter 2</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                            <li>
                                                <a href="#" style="color: black">Chapter 1</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure>
                                    <div class="image">
                                        <a href="#">
                                            <img th:src="@{/image/main-img/img.png}">
                                        </a>
                                        <div class="view">
                                        <span>
                                            <i class="fa fas fa-eye"></i> 143.979
                                            <i class="fa fas fa-comment"></i> 103
                                            <i class="fa fas fa-heart"></i> 3.555
                                        </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>Maou na Ano Ko to Murabito A</h3>
                                        <ul>
                                            <li>
                                                <a href="#" style="color: black">Chapter 3</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                            <li>
                                                <a href="#" style="color: black">Chapter 2</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                            <li>
                                                <a href="#" style="color: black">Chapter 1</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure>
                                    <div class="image">
                                        <a href="#">
                                            <img th:src="@{/image/main-img/img.png}">
                                        </a>
                                        <div class="view">
                                        <span>
                                            <i class="fa fas fa-eye"></i> 143.979
                                            <i class="fa fas fa-comment"></i> 103
                                            <i class="fa fas fa-heart"></i> 3.555
                                        </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>Maou na Ano Ko to Murabito A</h3>
                                        <ul>
                                            <li>
                                                <a href="#" style="color: black">Chapter 3</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                            <li>
                                                <a href="#" style="color: black">Chapter 2</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                            <li>
                                                <a href="#" style="color: black">Chapter 1</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure>
                                    <div class="image">
                                        <a href="#">
                                            <img th:src="@{/image/main-img/img.png}">
                                        </a>
                                        <div class="view">
                                        <span>
                                            <i class="fa fas fa-eye"></i> 143.979
                                            <i class="fa fas fa-comment"></i> 103
                                            <i class="fa fas fa-heart"></i> 3.555
                                        </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>Maou na Ano Ko to Murabito A</h3>
                                        <ul>
                                            <li>
                                                <a href="#" style="color: black">Chapter 3</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                            <li>
                                                <a href="#" style="color: black">Chapter 2</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                            <li>
                                                <a href="#" style="color: black">Chapter 1</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure>
                                    <div class="image">
                                        <a href="#">
                                            <img th:src="@{/image/main-img/img.png}">
                                        </a>
                                        <div class="view">
                                        <span>
                                            <i class="fa fas fa-eye"></i> 143.979
                                            <i class="fa fas fa-comment"></i> 103
                                            <i class="fa fas fa-heart"></i> 3.555
                                        </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>Maou na Ano Ko to Murabito A</h3>
                                        <ul>
                                            <li>
                                                <a href="#" style="color: black">Chapter 3</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                            <li>
                                                <a href="#" style="color: black">Chapter 2</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                            <li>
                                                <a href="#" style="color: black">Chapter 1</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure>
                                    <div class="image">
                                        <a href="#">
                                            <img th:src="@{/image/main-img/img.png}">
                                        </a>
                                        <div class="view">
                                        <span>
                                            <i class="fa fas fa-eye"></i> 143.979
                                            <i class="fa fas fa-comment"></i> 103
                                            <i class="fa fas fa-heart"></i> 3.555
                                        </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>Maou na Ano Ko to Murabito A</h3>
                                        <ul>
                                            <li>
                                                <a href="#" style="color: black">Chapter 3</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                            <li>
                                                <a href="#" style="color: black">Chapter 2</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                            <li>
                                                <a href="#" style="color: black">Chapter 1</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure>
                                    <div class="image">
                                        <a href="#">
                                            <img th:src="@{/image/main-img/img.png}">
                                        </a>
                                        <div class="view">
                                        <span>
                                            <i class="fa fas fa-eye"></i> 143.979
                                            <i class="fa fas fa-comment"></i> 103
                                            <i class="fa fas fa-heart"></i> 3.555
                                        </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>Maou na Ano Ko to Murabito A</h3>
                                        <ul>
                                            <li>
                                                <a href="#" style="color: black">Chapter 3</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                            <li>
                                                <a href="#" style="color: black">Chapter 2</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                            <li>
                                                <a href="#" style="color: black">Chapter 1</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="item">
                                <figure>
                                    <div class="image">
                                        <a href="#">
                                            <img th:src="@{/image/main-img/img.png}">
                                        </a>
                                        <div class="view">
                                        <span>
                                            <i class="fa fas fa-eye"></i> 143.979
                                            <i class="fa fas fa-comment"></i> 103
                                            <i class="fa fas fa-heart"></i> 3.555
                                        </span>
                                        </div>
                                    </div>
                                    <figcaption>
                                        <h3>Maou na Ano Ko to Murabito A</h3>
                                        <ul>
                                            <li>
                                                <a href="#" style="color: black">Chapter 3</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                            <li>
                                                <a href="#" style="color: black">Chapter 2</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                            <li>
                                                <a href="#" style="color: black">Chapter 1</a>
                                                <i>1 giờ trước</i>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="divPager">
                            <ul class="pagination">
                                <li class="active">
                                    <a href="#">1</a>
                                </li>
                                <li>
                                    <a href="#">2</a>
                                </li>
                                <li>
                                    <a href="#">3</a>
                                </li>
                                <li>
                                    <a href="#">4</a>
                                </li>
                                <li>
                                    <a href="#">5</a>
                                </li>
                                <li>
                                    <a href="#">6</a>
                                </li>
                                <li>
                                    <a href="#">7</a>
                                </li>
                                <li>
                                    <a href="#">8</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="divRight">

                </div>
            </div>
        </div>
    </main>
</div>
<!-- end of body -->
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</th:block>
</body>
</html>