<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/_layout}">
<head>
    <meta charset="UTF-8">
    <title>Toàn Chức Pháp Sư(Tới cháp 739)</title>
    <link rel="stylesheet" th:href="@{/css/truyenDetails.css}">
</head>
<body>
<div layout:fragment="content">
    <div class="none-name"></div>
    <main>
        <div class="container">
            <div class="row">
                <div class="divCenter">
                    <ul class="breadcrumb">
                        <li>
                            <a href="#" class="itemcrumb" style="color: #00a5f0">
                                <span>Trang chủ</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="itemcrumb" style="color: #00a5f0">
                                <span>Thể loại</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="itemcrumb" style="color: #00a5f0">
                                <span>Toàn Chức Pháp Sư</span>
                            </a>
                        </li>
                    </ul>
                    <article id="item-details">
                        <h1 class="title-detail">Toàn Chức Pháp Sư</h1>
                        <time class="small"> [Cập nhật lúc: 23:09 15/08/2021]</time>
                        <div class="detail-info">
                            <div class="col-image">
                                <img th:src="@{/image/img2.png}" alt="Toàn-chức-pháp-sư">
                            </div>
                            <div class="col-info">
                                <ul class="list-info">
                                    <li class="author">
                                        <p class="name"><i class="fa fas fa-user"></i> Tác giả</p>
                                        <p>Đang cập nhật</p>
                                    </li>
                                    <li class="status">
                                        <p class="name"><i class="fa fas fa-rss"></i> Tình trạng</p>
                                        <p>Đang tiến hành</p>
                                    </li>
                                    <li class="kind">
                                        <p class="name"><i class="fa fas fa-tags"></i> Thể loại</p>
                                        <p>
                                            <a href="#">Action</a> - <a href="#">Adventure</a> - <a href="#">Fantasy</a>
                                            - <a href="#">Manhua</a> - <a href="#">Mystery</a> - <a href="#">Shounen</a>
                                            - <a href="#">Supernatural</a> - <a href="#">Truyện màu</a>
                                        </p>
                                    </li>
                                    <li class="view">
                                        <p class="name"><i class="fa fas fa-eye"></i> Lượt xem</p>
                                        <p>170.601.599</p>
                                    </li>
                                </ul>
                                <div class="rating-detail">
                                    <a href="#">Toàn chức pháp sư</a>
                                    <span> Xếp hạng: 3.7/5 - 180115 Lượt đánh giá.</span>
                                </div>
                                <div class="rating">
                                    <span class="fa fa-star checked fa-2x"></span>
                                    <span class="fa fa-star checked fa-2x"></span>
                                    <span class="fa fa-star checked fa-2x"></span>
                                    <span class="fa fa-star fa-2x"></span>
                                    <span class="fa fa-star fa-2x"></span>
                                </div>
                                <div class="follow">
                                    <a href="#" class="btn btn-success">
                                        <i class="fa fas fa-heart"></i>
                                        Theo dõi
                                    </a>
                                    <span><b>138,882</b> Người Đã Theo Dõi</span>
                                </div>
                                <div class="read-action">
                                    <a class="btn btn-warning mrb5"> Đọc từ đầu </a>
                                    <a class="btn btn-warning mrb5"> Đọc mới nhất </a>
                                </div>
                            </div>
                        </div>
                        <div class="detail-content">
                            <h3 class="list-title"><i class="fa fa-file-text-o"></i> Nội dung</h3>
                            <p class="shortened" style="justify-content: space-around">
                                Tỉnh lại sau giấc ngủ, thế giới đại biến. Quen thuộc cao trung truyền thụ chính là phép
                                thuật, nói cho mọi người muốn trở thành một tên xuất sắc Ma Pháp Sư. Ở lại đô thị ở
                                ngoài du đãng tập kích nhân loại ma vật yêu thú, mắt nhìn chằm chằm. Tôn trọng khoa học
                                thế giới đã biến thành tôn trọng phép thuật, một mực có như nhau lấy học tra đối xử giáo
                                viên của chính mình, như nhau ánh mắt dị dạng bạn học, như nhau xã hội tầng dưới chót
                                giãy dụa ba ba, như nhau thuần mỹ nhưng không thể bước đi không phải huyết thống muội
                                muội... Bất quá, Mạc Phàm phát hiện tuyệt đại đa số người đều chỉ có thể chủ tu nhất hệ
                                phép thuật, chính mình nhưng là toàn hệ toàn năng pháp sư!
                            </p>
                            <a href="javascript:void(0)" class="morelink" onclick="showMoreOrLess(this)">
                                Xem thêm
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                        <div class="list-chapter" id="nt_listchapter">
                           <h2 class="list-title clearfix">
                               <i class="fa fa-list"></i>
                               Danh sách chương
                           </h2>
                            <nav>
                                <ul>
                                    <li class="row heading">
                                        <div class="col-xs-5 no-wrap">Số chương</div>
                                        <div class="col-xs-4 no-wrap text-center">Cập nhật</div>
                                        <div class="col-xs-3 no-wrap text-center">Lượt xem</div>
                                    </li>
                                    <li class="row">
                                        <div class="col-xs-5 chapter">
                                            <a href="#">Chapter 742</a>
                                        </div>
                                        <div class="col-xs-4 text-center small">11 giờ trước</div>
                                        <div class="col-xs-3 text-center small">29.341</div>
                                    </li>
                                    <li class="row">
                                        <div class="col-xs-5 chapter">
                                            <a href="#">Chapter 742</a>
                                        </div>
                                        <div class="col-xs-4 text-center small">11 giờ trước</div>
                                        <div class="col-xs-3 text-center small">29.341</div>
                                    </li>
                                    <li class="row">
                                        <div class="col-xs-5 chapter">
                                            <a href="#">Chapter 742</a>
                                        </div>
                                        <div class="col-xs-4 text-center small">11 giờ trước</div>
                                        <div class="col-xs-3 text-center small">29.341</div>
                                    </li>
                                    <li class="row">
                                        <div class="col-xs-5 chapter">
                                            <a href="#">Chapter 742</a>
                                        </div>
                                        <div class="col-xs-4 text-center small">11 giờ trước</div>
                                        <div class="col-xs-3 text-center small">29.341</div>
                                    </li>
                                    <li class="row">
                                        <div class="col-xs-5 chapter">
                                            <a href="#">Chapter 742</a>
                                        </div>
                                        <div class="col-xs-4 text-center small">11 giờ trước</div>
                                        <div class="col-xs-3 text-center small">29.341</div>
                                    </li>
                                    <li class="row">
                                        <div class="col-xs-5 chapter">
                                            <a href="#">Chapter 742</a>
                                        </div>
                                        <div class="col-xs-4 text-center small">11 giờ trước</div>
                                        <div class="col-xs-3 text-center small">29.341</div>
                                    </li>
                                    <li class="row">
                                        <div class="col-xs-5 chapter">
                                            <a href="#">Chapter 742</a>
                                        </div>
                                        <div class="col-xs-4 text-center small">11 giờ trước</div>
                                        <div class="col-xs-3 text-center small">29.341</div>
                                    </li>
                                    <li class="row">
                                        <div class="col-xs-5 chapter">
                                            <a href="#">Chapter 742</a>
                                        </div>
                                        <div class="col-xs-4 text-center small">11 giờ trước</div>
                                        <div class="col-xs-3 text-center small">29.341</div>
                                    </li>
                                    <li class="row">
                                        <div class="col-xs-5 chapter">
                                            <a href="#">Chapter 742</a>
                                        </div>
                                        <div class="col-xs-4 text-center small">11 giờ trước</div>
                                        <div class="col-xs-3 text-center small">29.341</div>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </article>
                </div>
                <div class="divRight">

                </div>
            </div>
        </div>
    </main>
</div>
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/truyenDetails.js}"></script>
</th:block>
</body>
</html>